# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: vint
        uses: reviewdog/action-vint@v1
        with:
          github_token: ${{ secrets.github_token }}
          level: info
          reporter: github-pr-review

      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          path: "."
          pattern: "*.sh"
          exclude: "./.git/*"

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ['16']
        os: [ubuntu-latest, macOS-latest]
        neovim: [true, false]
        vim_version: [stable, nightly]
      fail-fast: false

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: remove microsoft repo
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          for apt_file in `grep -lr microsoft /etc/apt/sources.list.d/`; do sudo rm $apt_file; done

      - name: setup vim, neovim = ${{ matrix.neovim }}, version = ${{ matrix.vim_version }}
        id: vim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: ${{ matrix.neovim }}
          version: ${{ matrix.vim_version }}

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: install pynvim
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade pynvim msgpack

      - name: setup node ${{ matrix.node_version }}
        uses: actions/setup-node@v6
        with:
           node-version: ${{ matrix.node_version }}

      - name: install node modules
        run: |
          npm install -g neovim yarn

      - name: test vim
        timeout-minutes: 30
        if: ${{ matrix.neovim == false }}
        run: |
            git clean -dfx

      - name: test neovim
        timeout-minutes: 30
        if: ${{ matrix.neovim == true }}
        run: |
            git clean -dfx
            nvim --headless -u init.vim -c 'checkhealth' -c 'set buftype=' -c 'saveas! checkhealth.info' -c 'qa!'
            cat checkhealth.info
